<h1>Accomodation</h1>

<div class="contacts">
  <a href="http://facebook.com/sankhasubhra.sengupta" target="_blank">
    <div class="contact box" style="margin-right: 70px;">
      <img src="https://graph.facebook.com/sankhasubhra.sengupta/picture?width=150&height=150" />
      
      <div class="contact_info">
        <div class="name">Sankhasubra Sengupta</div>
        <div class="phone">8013252052</div>
        <div class="fb">sankhasubhra.sengupta</div>
      </div>
    </div>
  </a>
  <a href="http://facebook.com/arpan.ghosh.37" target="_blank">
    <div class="contact box">
      <img src="https://graph.facebook.com/arpan.ghosh.37/picture?width=150&amp;height=150" />
      
      <div class="contact_info">
        <div class="name">Arpan Ghosh</div>
        <div class="phone">9903086771</div>
        <div class="fb">arpan.ghosh.37</div>
      </div>
    </div>
  </a>
</div>