<h1>Sponsors</h1>

<% @sponsors.each do |year, sponsors_in_year| %>
<h2><%= year %></h2>

<% for sponsor in sponsors_in_year %>
<div class="sponsor-logo">
	<%= link_to image_tag(sponsor.logo.url(:small)), sponsor.url, target: '_blank' %>
</div>
<% end %>
<% end %>
