&copy; 2014 <a href="http://geekonix.org/">Geekonix</a>.	All rights reserved.<br><br>

<div class="networks"><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
<a href="#"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;
<a href="#"><i class="fa fa-github fa-lg"></i></a></div><br>

Thanks to the awesome folk at <a href="http://fontawesome.io/">Font Awesome</a> and <a href="#">jQuery</a>.<br>
Powered by Ruby on Rails. Rendered in <b>0.1234 seconds</b>.<br><br>

<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>