&copy; 2014 <a href="http://geekonix.org/">Geekonix</a>.	All rights reserved.<br><br>

<div class="networks">
	<a href="https://facebook.com/Gx.Edg" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;&nbsp;
	<a href="https://twitter.com/gxEDGE" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;
	<a href="https://github.com/peteykun/edge#" target="_blank"><i class="fa fa-github fa-lg"></i></a>
</div><br>

Thanks to the awesome folk at <a href="http://fontawesome.io/" target="_blank">Font Awesome</a> and <a href="http://jquery.com/" target="_blank">jQuery</a>.<br>
Powered by Ruby on Rails. Rendered in <b><%= load_time %> seconds</b>.<br><br>

Your privacy is important to us.