<a href="<%= root_path %>"><div id="logo"></div></a>

<div id="icons">
	<a href="/admin" target="_blank">
		<i class="fa fa-gear fa-2x"></i>
	</a>

	<% if false %>
	<i class="fa fa-moon-o fa-2x"></i>
	<i id="notifications_icon" class="fa fa-inbox fa-2x"></i>
	<% end %>

	<a href="http://stockit.edg.co.in/" target="_blank">
		<i class="fa fa-stockit fa-2x"></i>
	</a>
	
</div>

<% if false %>
<div id="notifications">
	<div class="drop"></div>

	<ul>	
		<li class="new">
			<a href="#">
				<div class="right"><i class="fa fa-exclamation-circle fa-2x"></i></div>
				Hi this is a notification.
				<div class="time">20 minutes ago.</div>
			</a>
		</li>
		
		<li class="new">
			<a href="#">
				<div class="right"><i class="fa fa-exclamation-circle fa-2x"></i></div>
				Wow such notification.
				<div class="time">20 hours ago.</div>
			</a>
		</li>
			
		<li>
			<a href="#">
				Much notifications.
				<div class="time">2 days ago.</div>
			</a>
		</li>
			
		<li>
			<a href="#">
				Such push.
				<div class="time">2 months ago.</div>
			</a>
		</li>
			
		<li>
			<a href="#">
				Many happiness.
				<div class="time">2 years ago.</div>
			</a>
		</li>
			
		<li>
			<a href="#">
				Such yorokobi.
				<div class="time">2 years ago.</div>
			</a>
		</li>
			
		<li>
			<a href="#">
				Then who was keitai.
				<div class="time">2 years ago.</div>
			</a>
		</li>
	</ul>
</div>
<% end %>
