<div id="logo"></div>

<div id="icons">
	<a href="#"><i class="fa fa-gear fa-2x"></i></a>
	<a href="#"><i class="fa fa-moon-o fa-2x"></i></a>
	<a href="#"><i id="notifications_icon" class="fa fa-envelope-o fa-2x"></i></a>
</div>

<div id="notifications">
	<div class="drop"></div>
	
	<ul>
		<a href="#">
			<li class="new">
				<div class="right"><i class="fa fa-exclamation-circle fa-2x"></i></div>
				Hi this is a notification.
				<div class="time">20 minutes ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li class="new">
				<div class="right"><i class="fa fa-exclamation-circle fa-2x"></i></div>
				Wow such notification.
				<div class="time">20 hours ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li>
				Much notifications.
				<div class="time">2 days ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li>
				Such push.
				<div class="time">2 months ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li>
				Many happiness.
				<div class="time">2 years ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li>
				Such yorokobi.
				<div class="time">2 years ago.</div>
			</li>
		</a>
		
		<a href="#">
			<li>
				Then who was keitai.
				<div class="time">2 years ago.</div>
			</li>
		</a>
	</ul>
</div>