<a href="<%= root_path %>"><div id="logo"></div></a>

<div id="icons">
  <a href="http://www.ticollege.ac.in/" target="_blank">
    <i class="fa fa-ti fa-2x"></i>
  </a>

	<a href="/admin" target="_blank">
		<i class="fa fa-gear fa-2x"></i>
	</a>

  <div id="countdown">
    <b>9 days</b> to go
  </div>
	
</div>

<div id="mobile_icons">
  <i class="fa fa-ellipsis-h fa-2x" id="mobile_menu_toggle"></i>
</div>
