<ul>
	<li class="active">Events</li>
	<li><a href="#">Speakers</a></li>
	<li><a href="#">Gallery</a></li>
	<li><a href="#">Sponsors</a></li>
	<li><a href="#">Contact</a></li>
</ul>

<h3 class="left">Robotics</h3>
<%= image_tag 'categories/robotics.png', class: 'class_icon' %>
<div class="separator clearfix"></div>

<ul class="event_class">
	<li><a href="#">Blitzkrieg</a></li>
	<li><a href="#">Poseidon's Army</a></li>
	<li><a href="#">Street Rover</a></li>
	<li><a href="#">All Terrain</a></li>
</ul>

<h3 class="left">Compute-Aid</h3>
<%= image_tag 'categories/computing.png', class: 'class_icon' %>
<div class="separator clearfix"></div>

<ul class="event_class">
	<li><a href="#">Blitzkrieg</a></li>
	<li><a href="#">Poseidon's Army</a></li>
	<li><a href="#">Street Rover</a></li>
	<li><a href="#">All Terrain</a></li>
</ul>

<h3 class="left">Cyber Crusade</h3>
<%= image_tag 'categories/gaming.png', class: 'class_icon' %>
<div class="separator clearfix"></div>

<ul class="event_class">
	<li><a href="#">Blitzkrieg</a></li>
	<li><a href="#">Poseidon's Army</a></li>
	<li><a href="#">Street Rover</a></li>
	<li><a href="#">All Terrain</a></li>
</ul>