<%= image_tag 'paintball.jpg', id: 'lakhs' %>

<div id="social_buttons" class="clearfix">
  <div id="facebook">
    <a href="https://facebook.com/Gx.Edg" target="_blank">
      <i class="fa fa-facebook-square fa-3x"></i>

      <div class="text">Like us</div>
    </a>
  </div>

  <div id="twitter">
    <a href="https://twitter.com/gxEDGE" target="_blank">
      <i class="fa fa-twitter-square fa-3x"></i>

      <div class="text">Follow us</div>
    </a>
  </div>

  <div id="youtube">
    <a href="https://www.youtube.com/channel/UCSwFemGqe1XRmVlg1jRNJYw" target="_blank">
      <i class="fa fa-youtube-square fa-3x"></i>

      <div class="text">Subscribe</div>
    </a>
  </div>
</div>

<div id="guests">
  <div class="guest">
    <%= image_tag 'Jarvis.png' %>

    <div class="name">Chirag Dewan</div>
    <div class="name">Himanshu Vaishnav</div>
    <div class="affliation">Jarvis Corp.</div>
  </div>

  <div class="guest">
    <%= image_tag 'DurjoyDutta.jpg' %>

    <div class="name">Durjoy Dutta</div>
    <div class="affliation">Bestselling Novelist</div>
  </div>

  <div class="guest">
    <%= image_tag 'Silhouette.png' %>

    <div class="name">Mystery Guest</div>
    <div class="affliation">Stay tuned</div>
  </div>
</div>
